body {
  background-color: bisque;
}

#harjap {
  background-color: cornsilk;
}

#subhead {
  font-size: larger;
  text-align: center;
}

#email {
  padding-left: 5%;
  width: 500px;
}

#about {
  background-color: aqua;
  font-size: large;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}
#proj {
  background-color: cyan;
  font-size: larger;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}
